/.vs
/HappyGenyuanImsactUpdate/bin
/HappyGenyuanImsactUpdate/obj
/HappyGenyuanImsactUpdate/Properties
/HDiffPatchCreator/bin
/HDiffPatchCreator/obj
/HDiffPatchCreator/Properties
/.vscode
/Release-Linux-x64
/Release-Linux-x64.zip
/Release-Linux-x86
/Release-Linux-x86.zip
/.idea
